.conatiner{
    width: 80%;
    height: 100px;
    margin: auto;
    display: flex;
    gap: 50px;
    border-radius: 10px;
    justify-content: center;
    
}
.card{
    width: 350px;
    height: 400px;
    
}

 img{
    height: 220px;
    width: 350px;
 }  

.News{
    margin-left: 55px;
}